<!DOCTYPE html>
<html lang="en">
    <script>
        function toggleFiles() {
            const x = document.getElementById("uploadedImages");
            if(x.style.display==="flex")
                x.style.display="none";
            else
                x.style.display="flex";
        }
    </script>
    <div id="uploadedImagesButton" onclick="toggleFiles()">
        <a>Uploaded images</a>
        <i class="material-icons">keyboard_arrow_down</i>
    </div>
    <div id="uploadedImages">
        <%if(locals.files){files.forEach(function(file){%>
            <a href="upload/<%=file%>"><div>
                <img src="<%=path+"/"+file+"/origin.png"%>" alt="origin">
            </div></a>
        <%});}%>
    </div>
</html>