@import "basic";

//variables
@import "variables_index";

#uploadedImagesButton{
  margin-left: 10vmin;
  margin-right: 10vmin;
  background-color: $image-button-bg-color;
  padding: 5px;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a{
    font-size: clamp(1em,3vh,2em);
    font-weight: bold;
    font-style: italic;
  }
}
#uploadedImages{
  margin-left: 10vmin;
  margin-right: 10vmin;
  background-color: $image-container-bg-color;
  padding: 2.5px;
  border-radius: 0 0 10px 10px;
  display: none;
  flex-wrap: wrap;
  div{
    margin: 2.5px;
    padding: 7.5px;
    width: $image-size;
    height: $image-size;
    background-color: $image-bg-color;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      max-width: $image-size;
    }
  }
}

form{
  margin-left: 5vw;
  label{
    font-weight: bold;
  }
}