@import "basic";
#origin{
  align-self: center;
  max-width: 90vw;
}
#btn-back{
  text-decoration: none;
  width: fit-content;
  button{
    display: inline-flex;
    align-items: center;
  }
}
@media screen and (max-width: 500px){
  div {
    .btn-blue{
      width: 100%;
    }
  }
}