body {
  height: 100vh;
  align-content: center;
  background-color: #e0b788;
  display: flex;
  flex-direction: column; }

footer {
  margin-top: auto; }

.btn-blue {
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px;
  background-color: #cdcdea;
  color: blue;
  font-weight: bold; }

#origin {
  align-self: flex-start;
  margin-left: 5vw;
  margin-right: 5vw;
  max-width: 80vw; }

#btn-back {
  text-decoration: none;
  width: fit-content; }
  #btn-back button {
    display: inline-flex;
    align-items: center; }

@media screen and (max-width: 500px) {
  div .btn-blue {
    width: 100%; } }
