@import "basic";
#origin{
  align-self: flex-start;
  margin-left: 5vw;
  margin-right: 5vw;
  max-width: 80vw;
}
#btn-back{
  text-decoration: none;
  width: fit-content;
  button{
    display: inline-flex;
    align-items: center;
  }
}
@media screen and (max-width: 500px){
  div {
    .btn-blue{
      width: 100%;
    }
  }
}